<div class="hero-unit">           
   <a href="/browse.html/">root</a>
   <% 0.upto(@entry.split('/').length - 1) do | n | %>
     <% 
       updir_urlencoded = ""
       updir = @entry_urlencoded.split(@entry_urlencoded.split('/')[n])[0]
       if !updir.nil?
         updir.split('/').each do | updir_chunk |
           updir_urlencoded  =  updir_urlencoded  + updir_chunk + '/'
         end
       end
     %>
     / <a href="/browse.html/<%= updir_urlencoded + @entry_urlencoded.split('/')[n] %>/"><%= @entry.split('/')[n] %></a>
   <% end %>
</div>

<div class="row">
<% @output[:subdirs].each do |subdir| %>
  <div class="span2 text-center padded">
    <a href="<%=u subdir %>/">
      <img src="http://cdn.stoychev.info/icons/index/dir.png" width="150" height="150" alt="folder icon"/>
      <p><%= subdir %></p>
    </a>
  </div>
<% end %>
</div>

<div class="row">
<% @output[:files].each do |file| %>
  <div class="span2 text-center padded">
    <a href="<%=u file %>">
      <img src="<%= @thumbs_small_root + @entry_urlencoded + file %>" alt="<%= file %>" />
    </a>
  </div>
<% end %>
</div>
