<div class="row">           
   <a href="/browse.html/">Home</a>
   <% 0.upto(@entry.split('/').length - 1) do | n | %>
     / <a href="/browse.html/<%= @entry_urlencoded.split('/')[0..n].join('/') %>/"><%= @entry.split('/')[n] %></a>
   <% end %>
</div>

<div class="row">
<% @output[:subdirs].each do |subdir| %>
  <% subdir_path = @thumbs_small_root + @entry_urlencoded + u(subdir) + '/' %>
  <div class="span2 text-center padded">
    <div class="folder-container">
        <img class="folder" src="/<%= random_cover(subdir_path) %>" alt="folder icon"/>
    </div>
    <a  href="<%=u subdir %>/"><%= subdir %></a>
  </div>
<% end %>
</div>

<div class="row" id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery" data-selector="div.gallery-item">
<% @output[:files].each do |file| %>
  <div class="span2 text-center padded gallery-item" data-href="/Photos/<%= @entry_urlencoded + u(file) %>">
    <img src="<%= @thumbs_small_root + @entry_urlencoded + u(file) %>" alt="<%= file %>" />
  </div>
<% end %>
</div>