<div class="row">           
   <a href="/browse.html/">root</a>
   <% 0.upto(@entry.split('/').length - 1) do | n | %>
     / <a href="/browse.html/<%= @entry_urlencoded.split('/')[0..n].join('/') %>/"><%= @entry.split('/')[n] %></a>
   <% end %>
</div>

<div class="row">
<% @output[:subdirs].each do |subdir| %>
  subdir_path = u(@thumbs_small_root) + @entry_urlencoded + u(subdir) + '/'
  <div class="span3 text-center padded">
    <a href="<%=u subdir %>/">
      <img src="<%= subdir_path + random_cover(subdir_path) %>" alt="folder icon"/>
      <p><%= subdir %></p>
    </a>
  </div>
<% end %>
</div>

<div class="row">
<% @output[:files].each do |file| %>
  <div class="span2 text-center padded">
    <a href="<%=u file %>">
      <img src="<%= u(@thumbs_small_root) + @entry_urlencoded + u(file) %>" alt="<%= file %>" />
    </a>
  </div>
<% end %>
</div>