<div class="hero-unit">           
   <a href="/browse.html/">root</a>
   <% @entry.split('/').each do | path_chunk | %>
     <% 
       updir_urlencoded = ""
       updir = @entry.split(path_chunk)[0]
       if !updir.nil?
         updir.split('/').each do | updir_chunk |
           updir_urlencoded  =  updir_urlencoded  + u(updir_chunk) + '/'
         end
       end
     %>
     / <a href="/browse.html/<%= updir_urlencoded + u(path_chunk) %>/"><%= path_chunk %></a>
   <% end %>
</div>


<% @output[:subdirs].each do |subdir| %>
  <div class="row">
    <div class="span1"><img src="http://cdn.stoychev.info/icons/index/dir.png" width="24" height="24" alt="folder icon"/></div>
    <div class="span9"><a href="<%=u subdir %>/"><%= subdir %></a></div>
  </div>
<% end %>

<% @output[:files].each do |file| %>
  <div class="row">
    <div class="span1"><img src="http://cdn.stoychev.info/icons/index/<%= file.split('.')[-1].downcase %>.png" width="24" height="24" alt="<%= file.split('.')[-1].downcase %>" /></div>
    <div class="span9"><a href="<%=u file %>"><%= file %></a></div>
  </div>
<% end %>