<!doctype html>
  <html>
    <head>
      <title><%= Rails.configuration.title %></title>
      <meta http-equiv="content-type" content="text/html;charset=UTF-8">
      <meta name="description" content="<%= Rails.configuration.meta_description %>">
      <meta name="keywords" content="<%= Rails.configuration.meta_keywords %>">
      <%= analytics_init if Rails.env.production? %>
      <%= stylesheet_link_tag "application", :media => "all" %>
      <%= csrf_meta_tags %>
      <%= yield(:head) %>
    </head>
    <body>
      <div id="main" class="container">
        <%= yield %>
        <hr>
        <%= render "layouts/includes/footer" %>
      </div>
      <%= render "layouts/includes/blueimp_gallery" %>
    <%= javascript_include_tag "application" %>
  </body>
</html>