<!doctype html>
  <html>
    <head>
      <title>My Web Gallery</title>
      <meta http-equiv="content-type" content="text/html;charset=UTF-8">
      <%= stylesheet_link_tag "application", :media => "all" %>
      <%= csrf_meta_tags %>
      <%= yield(:head) %>
    </head>
    <body>
        
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="navbar-brand" href="<%=root_path%>">My Web Gallery</a>
          </div>
        </div>
      </nav>

      <div id="main" class="container">

        <%= yield %>

        <hr>
        <footer>
          <span> Copyright © 2013 <a href="http://yavor.stoychev.bg" target="_blank">Yavor Stoychev</a>. Hosted at home on my <a href="http://yavor.stoychev.bg/x2.html" target="_blank">Odroid X2</a>.</span>
          <span class="pull-right">
            <a href="https://www.facebook.com/stoychev.yavor" target="_blank">
              <img src="http://cdn.stoychev.bg/icons/social/fb.png" alt="facebook">
            </a>
            <a href="http://www.linkedin.com/pub/yavor-stoychev/4a/bb1/51a/" target="_blank">
              <img src="http://cdn.stoychev.bg/icons/social/li.png" alt="linkedin">
            </a>
          </span>
        </footer>
      </div>

      <!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
      <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
      <!-- The container for the modal slides -->
        <div class="slides"></div>
        <!-- Controls for the borderless lightbox -->
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
        <!-- The modal dialog, which will be used to wrap the lightbox content -->
        <div class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" aria-hidden="true">&times;</button>
                <h4 class="modal-title">x1080 View</h4>
              </div>
              <div class="modal-body next"></div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left prev">
                  <i class="glyphicon glyphicon-chevron-left"></i> Previous
                </button>
                <button type="button" class="btn btn-primary next">
                  Next <i class="glyphicon glyphicon-chevron-right"></i>
                </button>
              </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.getElementById('links').onclick = function (event) {
      event = event || window.event;
      var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
      blueimp.Gallery(links, options);
      };
    </script>
    <%= javascript_include_tag "application" %>
  </body>
</html>